#Hintergrund{
    background-image: url("img/hintergrund.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#Überschrift{
    text-align: center;
    }
#Text{
    font-size: 25px;
}

.abstand-from-top {
    margin-top: 10px;
}