#Hintergrund{
    background-image: url("img/hintergrund.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#Überschrift{
    text-align: center;
    }
#Text{
    font-size: 25px;
}